.idea/
__pycache__/
*.pyc
.ipynb_checkpoints
datasets/
lightning_logs/
docs/_build
own_tests/
*.egg-info
build/
dist/
.venv/
/venv/
/plots/
/results/
*.parquet
train_logs/
**/train_logs
lightning_logs/
*.ipynb
/drvi_notebooks/misc/